[user]
	email = jtrain@users.noreply.github.com
	name = Jervis Whitley
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
        logp = log -p
        diffc = diff --cached
        diffs = diff master --stat
        pick = add -p
        recent = for-each-ref --sort=committerdate refs/remotes --format='%(HEAD) %(objectname:short) %(color:yellow)%(refname:short)%(color:reset) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[core]
	editor = vim
