[user]
	email = jtrain@users.noreply.github.com
	name = Jervis Whitley
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
        diffc = diff --cached
        pick = add -p
[core]
	editor = vim
