[user]
	email = jtrain@users.noreply.github.com
	name = Jervis Whitley
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
        brm = branch --merged
        logp = log master... -p --reverse
        diffc = diff --cached
        diffs = diff master --stat
        pick = add -p
        pullp = pull -p
        recent = for-each-ref --sort=committerdate refs/remotes --format='%(HEAD) %(objectname:short) %(color:yellow)%(refname:short)%(color:reset) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
        ff = "!git merge --ff-only origin/$1"
[core]
	editor = vim
